.back {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: rgb(185, 185, 185);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.back:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

img {
    max-width: 100%;
    border-radius: 10%;
    box-shadow: 6px 7px 20px #3a3a3a;
}

.container {
    max-width: 70%;
    margin: auto;
}

.div h1{
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 180%;
}

.div p {
    margin: auto;
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin: auto;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgb(193, 189, 230) ;
}